<ion-header>

  <ion-navbar>
    <ion-title>Book Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">
  <!--<ion-card-header class="pad">
    <img src="assets/icon/logo.png" height="60px" width="200px" />
  </ion-card-header>-->
  <p><b style=" color: black;">Book An Appointment</b> </p>

  <!--<ion-card-header class="pad">
  </ion-card-header>-->
  <form [formGroup]="appointForm">

    <!--<ion-card>-->
      <ion-list>

        <ion-item>
          <ion-label><ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Who is the appointment for?</ion-label>
          <ion-select formControlName="requester_cat" name="requester_cat" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
            <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
            <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

          </ion-select>
        </ion-item>

        <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
          <ion-item>
            <ion-textarea placeholder="Enter Beneficiary's Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!appointForm.controls.beneficiary_name.valid && (appointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
          </ion-item>
        </ion-item>

        <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
          <ion-label>
            <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Beneficiary's Sex
          </ion-label>
          <ion-select formControlName="beneficiary_gender" name="beneficiary_gender" [class.invalid]="!appointForm.controls.beneficiary_gender.valid && (appointForm.controls.beneficiary_gender.dirty || submitAttempt)">
            <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="M" ngDefaultControl>Male</ion-option>
            <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="F" ngDefaultControl>Female</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
          <ion-item>
            <ion-input type="number" placeholder="Enter Beneficiary's Age" formControlName="beneficiary_age" name="beneficiary_age" [class.invalid]="!appointForm.controls.beneficiary_age.valid && (appointForm.controls.beneficiary_age.dirty || submitAttempt)"></ion-input>
          </ion-item>
        </ion-item>

        <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
          <ion-item>
            <ion-input type="number" placeholder="Enter Beneficiary's Phone Number" formControlName="beneficiary_phone_number" name="beneficiary_phone_number" [class.invalid]="!appointForm.controls.beneficiary_phone_number.valid && (appointForm.controls.beneficiary_phone_number.dirty || submitAttempt)"></ion-input>
          </ion-item>
        </ion-item>

       

        <ion-item>
          <ion-label><ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency</ion-label>
          <ion-select formControlName="req_urgency" name="req_urgency" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
            <ion-option formControlName="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>
            <ion-option formControlName="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>

          </ion-select>
        </ion-item>

        <!--<br/>-->
        <ion-item [hidden]="!value">
          <ion-label> Appointment type</ion-label>
          <ion-select formControlName="appointment_type_id" name="appointment_type_id" [class.invalid]="!appointForm.controls.appointment_type_id.valid && (appointForm.controls.appointment_type_id.dirty || submitAttempt)">

            <ion-option name="appointment_type_id" value="MA" selected>MA</ion-option>

          </ion-select>
        </ion-item>
        <ion-item class="height">
          <ion-textarea placeholder="Please describe the medical problem..." lineHeight="22" formControlName="complaint_desc" name="complaint_desc"
            [class.invalid]="!appointForm.controls.complaint_desc.valid && (appointForm.controls.complaint_desc.dirty || submitAttempt)"></ion-textarea>
        <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon></ion-label>
        </ion-item>

        <!--<br/>-->
        <ion-item class="height">
          <ion-textarea placeholder="List your previous medical problems..." lineHeight="22" formControlName="prev_medical_history" name="prev_medical_history"
            [class.invalid]="!appointForm.controls.prev_medical_history.valid && (appointForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
             <ion-label> <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon></ion-label>
        </ion-item>
        <!--<br/>

        <br/>-->
        <ion-item class="height">
          <ion-textarea placeholder="Please list your allergies..." lineHeight="22" formControlName="allergies" name="allergies" [class.invalid]="!appointForm.controls.allergies.valid && (appointForm.controls.allergies.dirty || submitAttempt)"></ion-textarea>
         <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon> </ion-label>
        </ion-item>
        <!--<br/>-->

        <ion-item>
          <ion-textarea placeholder="Appointment Date" lineHeight="22" formControlName="proposed_date" name="proposed_date"
            [class.invalid]="!appointForm.controls.proposed_date.valid && (appointForm.controls.proposed_date.dirty || submitAttempt)"></ion-textarea>
          <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " [min]="minSelectabledate" formControlName="proposed_date"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-textarea placeholder="Appointment Time" lineHeight="22" formControlName="proposed_time" name="proposed_time" [class.invalid]="!appointForm.controls.proposed_time.valid && (appointForm.controls.proposed_time.dirty || submitAttempt)"></ion-textarea>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="proposed_time"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-time" md="md-time"></ion-icon></ion-label>
        </ion-item>
        <!--<ion-item [disabled]="!this.appointForm.valid">-->
          <p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="book_appoint()"> Submit </button></p>
          <!--<img src="assets/icon/submit.png"  class='tab' height="200px" width="200px"  (tap)="book_appoint()" />-->
          <!--</ion-item>-->
      
      </ion-list>
   
  </form>

</ion-content>



<!--<p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="book_appoint()"> Submit </button></p>-->