<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center;">Medication</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-buttons end>
    <button ion-button full color="green1" (click)="openNewAppointment()" icon-only>
      New Medication Order <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list *ngIf="person_details?.length > 0">
    <ion-item *ngFor="let patientdetails of person_details">
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-2>
           <strong>1</strong>
          </ion-col> -->
          <ion-col col-8>
            <h2>{{patientdetails.created_at | date: 'yyyy-MM-dd h:mm a' }}</h2>
            <strong>
              <p *ngIf="patientdetails.confirm_status == true; else confirmstatusfalse">
                Confirmed
              </p></strong>
            <ng-template #confirmstatusfalse>
              <strong>Not Confirmed</strong>
            </ng-template>
          </ion-col>
          <ion-col col-2>
            <button ion-button  class="small_button" color="green1" round type="submit" (click)="medication_appointment_history_details(patientdetails)">Details</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>2018-04-13 10:34</h2>
      <p>
        <strong>Status: Unconfirmed</strong>
      </p>
      <button ion-button clear item-end>View</button>
      <button ion-button color="secondary" round type="submit">Details</button>
    </ion-item>
  </ion-list> -->



  <!--
    <div class="card">

      <p class="pad" style=" color: black;">Please tell us your location...</p>

      <ion-auto-complete [dataProvider]="completeTestService" [options]="{ placeholder : 'Enter Location' }" #input #searchbar>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </ion-auto-complete>

      <br/>
      <br/>
      <p class="pad">
        <button ion-button color="green1" (tap)="go()">Find clinic or Hospital </button>
      </p>


    </div> -->

</ion-content>

<!-- <body ng-controller="MyCtrl as ctrl">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Service Provider Details</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">Utility Company Name</div>
      <div class="col">Service Code</div>
      <div class="col">Pay Limit</div>
      <div class="col">Account Number to Use</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col">{{data.name}}</div>
      <div class="col">{{data.code}}</div>
      <div class="col">LK {{data.limit}}</div>
      <div class="col">{{data.account}}</div>
      <div class="col">
        <button class="button" ng-click="ctrl.add($index)">Add</button>
      </div>
    </div>
  </ion-content>
</body> -->


<!-- </ion-content> -->

