<ion-content class="ash">
  <ion-navbar>
    <ion-title class="up1">Patient Profile</ion-title>

  </ion-navbar>

  <div class="img-circular"></div>
  <p class="down1">{{ other_names| removehtmltags}} {{ surname| removehtmltags}}</p>
  <p class="down2">{{ mobile_number| removehtmltags}}</p>

  <ion-row class="row" text-wrap="true">
    <ion-col col-6 text-wrap="true">
      <p text-wrap="true">Date Of birth: {{ dob}}</p>
    </ion-col>
    <ion-col col-6 text-wrap="true">
      <p text-wrap="true">PMH: {{phm | removehtmltags}} </p>
    </ion-col>
    <ion-col class="up" text-wrap="true">
      <p text-wrap="true">Location: {{location| removehtmltags}}</p>
    </ion-col>
    <ion-col class="alt" text-wrap="true">
      <p text-wrap="true">Allergies:</p>
    </ion-col>

  </ion-row>



  <form class="padd">
    <ion-row>
      <ion-col col-8>
        <ion-item class="item1" text-wrap="true">Previous Encounters </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item class="item1" text-wrap="true">Date </ion-item>
      </ion-col>
      <!-- <ion-col col-3>
        <ion-item class="item1"> </ion-item>
      </ion-col> -->
    </ion-row>

    <!--<ion-card-content>-->
    <!--<ion-grid>-->
    <ion-item *ngIf="records?.length == 0">
      <ion-row>
        <ion-col col-12>
          <ion-item *ngFor="let item of records; let i = index">
            <p class="color">No records </p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
    <!--</ion-grid>-->

    <ion-grid>
      <ion-item *ngIf="records?.length > 0">
        <ion-row *ngFor="let item of records; let i = index">

          <!-- <ion-item (tap)="open(item)">
            <p class="padding" (tap)="open(item)">{{i+1}}. {{item.title| removehtmltags}} </p>
            <p class="a_padding" (tap)="open(item)"> {{ item.created_at | date: 'yyyy-MM-dd h:mm a'}} </p>
            <button ion-button class="small_button" item-end color="green1" round (tap)="open(item)">Details</button>
           
          </ion-item> -->

          <ion-col col-1 text-wrap="true">
            <p class="padding" (tap)="open(item)" text-wrap="true">{{i+1}} </p>
          </ion-col>
          <ion-col col-8 text-wrap="true">
            <p class="padding" (tap)="open(item)" text-wrap="true">{{item.title| removehtmltags}} </p>
          </ion-col>
          <ion-col col-3 text-wrap="true">
            <p class="a_padding" (tap)="open(item)" text-wrap="true"> {{ item.created_at | date: 'yyyy-MM-dd h:mm a'}} </p>
          </ion-col>
          <!-- <ion-col col-3>
            <button ion-button class="small_button" item-end color="green1" round (tap)="open(item)">Details</button>
          </ion-col> -->

        </ion-row>
      </ion-item>
    </ion-grid>
    <!--</ion-card-content>-->

  </form>


  <!--<ion-toggle disabled checked="false"></ion-toggle>-->

  <!--<p> <button ion-button color="green1" (tap)="create()">Create new record</button>
  <button ion-button color="green1" >Place Order</button></p>-->
  <br>
  <br>
  <br>
  <!--<br>-->
  <!--<br>
    <br> -->


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6>
      <button ion-button color="green1" class="left" (tap)="create(patient_id)">
        Create new record
        <ion-badge color="danger1" item-end>{{unattended_appointments_count}}</ion-badge>
      
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="green1" class="right" (tap)="order()">Place an Order</button>
    </ion-col>
  </ion-row>
</ion-footer>