<ion-header>

  <ion-navbar>
    <ion-title>Medical Appointments</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<h2>Add User</h2>-->
  <form>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Location : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.location}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Service Provider : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.serviceprovider}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Category : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.requestcategory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Sex : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_gender}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Age : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_age}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Number : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_phone_number}}</ion-label>
    </ion-item>
    
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Urgency : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.requesturgency}}</ion-label>
    </ion-item>
    <!--<ion-item-divider color="light">Address</ion-item-divider>-->
    <!-- confirmed_date -->
    
    <ion-item text-wrap class="text-left" *ngIf="!currentmedappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Proposed date and time: </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.proposeddateandtime | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Confirmed date and time: </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.confirmed_date | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Complaint : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.complaint}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Previous medical history : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.prevmedicalhistory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Allergies : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.allergies}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Source : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.source}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Confirm Status : </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.confirmstatus}}</ion-label>
    </ion-item>


    <!--<button ion-button type="submit" block>Add User</button>-->
  </form>
</ion-content>
