page-docgeneralhomecare {
    body { font-size:52.5%; }

    /*demo styles*/
    table {width: 100%; height: 40%; margin-left: 6px; }
    table.accessHide { position: absolute; left: -999999px; }
    td, th {  font-size: 0.9em; padding: 2px; width: 13%; }
    th { background-color:#f4f4f4;  text-align: left;}
    caption { font-size: 1.5em; color: #0A8E3D;}
    //
    /*visualize extension styles*/
    .visualize { margin: 60px 0 0 30px; padding: 70px 40px 90px; background: #222 url(../images/chartbg.png) top repeat-x; border: 1px solid #000; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
    // .visualize canvas { border: 1px solid #888; margin: -1px; background: #222; }
    .visualize-labels-x, .visualize-labels-y { top: 70px; left: 40px; z-index: 100; }
    .visualize-pie .visualize-labels { position: absolute; top: 70px; left: 40px; }
    .visualize-labels-x li span.label, .visualize-labels-y li span.label { color: #aaa; font-size: 1.3em; padding-right: 5px; }
    .visualize-labels-y li span.line { border-style: dotted;  opacity: .6; }
    .visualize .visualize-info { border: 0; position: static;  opacity: 1; background: none; }
    .visualize .visualize-title { position: absolute; top: 20px; color: #fff; margin-bottom: 0; left: 20px; font-size: 2.1em; font-weight: bold; }
    .visualize ul.visualize-key { position: absolute; bottom: 15px; background: #444; z-index: 10; padding: 10px 0; color: #aaa; width: 100%; left: 0;  }
    .visualize ul.visualize-key li { font-size: 1.2em;  margin-left: 20px; padding-left: 18px; }
    .visualize ul.visualize-key .visualize-key-color { width: 10px; height: 10px;  margin-top: -4px; }
    .visualize ul.visualize-key .visualize-key-label { color: #fff;  }


    $breakpoint-alpha: 480px;

    .background{


        background-image: url("../assets/icon/back.png"); 
       
        height: 100%;
    
       
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;
    
        }
    
            .option1 {
    
        padding-right: 5%;
        }
    
       
    
            .option3 {
    
    
        padding-right: 40%;
        }
    
        .lab1{
    
          padding-left: 40%;
        }
    
    
    
    
    
       
    
    .back_color{
    
      
        background-color: #92d36e; 
       
        height: 100%;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        text-align:center;
    
        }
    
    
    ion-modal {
        .modal-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 50%;
            height: 50%;
        }
    }
    
    
    
         .pad{
    
             text-align:center;
    
        }
    
    .trans{
    // background-color: #ece7e7;
    background-color: #1e1e1e;
    
    }
    
    .greener{
    background-color: #789527; 
    
    }
    
    ion-auto-complete {
      width: 80vw;
    
       
    }
    
    
    .position{
    
         text-align:center;
    }
    
    
    
     .main-view{
        background: transparent;
      }
    
    
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
         opacity: .8;
       
        // background-color: #333;
        // background-color: #1a1515;
        background-color: #000000;
      }
      .modal_content {
        position: absolute;
        // top: calc(50% - (50%/2));
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: transparent;
        // background: #e8e8e8;
        // background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        // background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
        // background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
        padding-top: 20%;
      }
    
       .down1{
    
        
           color: #789527;  
         
        }
}
