<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <!--<div class="modal_content">-->
  <ion-scroll class="modal_content" scrollY="true">
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <br/>
    <br/>
    <br/>


    <form [formGroup]="personalDocLocationForm" class="padd">

      <ion-card-content>
        <ion-card>
          <ion-item class="position">
            <p class="position" style=" color: black;">Welcome to
              <br/> personal doctor service </p>
          </ion-item>


          <ion-item>
            <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Country</ion-label>
      
            <ion-select formControlName="country_id" name="country_id" [class.invalid]="!personalDocLocationForm.controls.country_id.valid && (personalDocLocationForm.controls.country_id.dirty || submitAttempt)" [(ngModel)]="country_id" (ionChange)="get_region(country_id);">
              <ion-option *ngFor="let data of countries" [value]="data.id" >{{data.country_name}}</ion-option>
            </ion-select>
      
          </ion-item>
      
          <ion-item *ngIf="personalDocLocationForm.value.country_id">
            <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Region/State</ion-label>
            
            <ion-select formControlName="region_id" name="region_id" [class.invalid]="!personalDocLocationForm.controls.region_id.valid && (personalDocLocationForm.controls.region_id.dirty || submitAttempt)" [(ngModel)]="region_id" (ionChange)="get_cities(region_id);">
              <ion-option *ngFor="let data of regions" [value]="data.id" >{{data.region_state_name}}</ion-option>
            </ion-select>
          </ion-item>
      
          <ion-item *ngIf="personalDocLocationForm.value.region_id">
            <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select City</ion-label>
      
            <ion-select formControlName="city_id" name="city_id" [class.invalid]="!personalDocLocationForm.controls.city_id.valid && (personalDocLocationForm.controls.city_id.dirty || submitAttempt)" [(ngModel)]="city_id" (ionChange)="get_suburbs(city_id);">
              <ion-option *ngFor="let data of cities" [value]="data.id" >{{data.city_town_name}}</ion-option>
            </ion-select>
          </ion-item>
      
          <!-- <ion-item *ngIf="personalDocLocationForm.value.city_id">
            <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Suburb</ion-label>
            <ion-select formControlName="suburb_id" name="suburb_id" [class.invalid]="!personalDocLocationForm.controls.suburb_id.valid && (personalDocLocationForm.controls.suburb_id.dirty || submitAttempt)">
              <ion-option *ngFor="let data of suburbs" [value]="data.id" >{{data.suburb_name}}</ion-option>
            </ion-select>
          </ion-item> -->

          <ion-auto-complete [dataProvider]="SuburbLocationService" *ngIf="personalDocLocationForm.value.city_id" [options]="{ placeholder : 'Enter Suburb' }" #input #searchbar>
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
          </ion-auto-complete>
          <br>

          <ion-item class="height" [class.invalid]="!personalDocLocationForm.controls.prev_medical_history.valid && (personalDocLocationForm.controls.prev_medical_history.dirty || submitAttempt)">
            <ion-textarea placeholder="Provide previous medical history..." lineHeight="22" name="prev_medical_history"></ion-textarea>
            <ion-label>
              <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon>
            </ion-label>
          </ion-item>
          <br/>
          <br/>
          <br/>
          <!-- <h4 class="position">Do you have a preferred doctor?</h4> -->


          <ion-item>
            <ion-label text-wrap><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Do you have a preferred doctor?</ion-label>
      
            <ion-select formControlName="yesorno" name="yesorno" [class.invalid]="!personalDocLocationForm.controls.yesorno.valid && (personalDocLocationForm.controls.yesorno.dirty || submitAttempt)">
              <ion-option value="Y" >Yes</ion-option>
              <ion-option value="N" >No</ion-option>
            </ion-select>
          </ion-item>

          <!-- <ion-row radio-group >
            <ion-col col-6>
              <ion-item>
                <ion-label class="lab1">Yes</ion-label>
                <ion-radio value="Y" [class.invalid]="!personalDocLocationForm.controls.yesorno.valid && (personalDocLocationForm.controls.yesorno.dirty || submitAttempt)"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item class="option3">
                <ion-label>No</ion-label>
                <ion-radio value="N" [class.invalid]="!personalDocLocationForm.controls.yesorno.valid && (personalDocLocationForm.controls.yesorno.dirty || submitAttempt)"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row> -->
          <br/>
          <ion-item *ngIf="personalDocLocationForm.value.yesorno == 'Y'">
            <ion-item formControlName="doc_name" name="doc_name" [class.invalid]="!personalDocLocationForm.controls.doc_name.valid && (personalDocLocationForm.controls.doc_name.dirty || submitAttempt)">
              <ion-textarea placeholder="Enter Doctor Name"></ion-textarea>
            </ion-item>
          </ion-item>
          <br/>

          <br>
          <div padding style="text-align: center;">
            <button ion-button color="primary" class="small_button" round (tap)="closeModal()">Back</button>
            <button ion-button class="small_button" color="green1" round [disabled]="!this.personalDocLocationForm.valid" (tap)="submit()"> SUBMIT </button>
          </div>

          <!-- <div padding style="text-align: center;">
            <button ion-button color="primary" class="small_button" round (tap)="closeModal()">Back</button>
          </div> -->

          <!-- <p class="pad">
            <button ion-button class='greener' (tap)="submit()"  [disabled]="!this.personalDocLocationForm.valid" (tap)="submit()"> SUBMIT </button> -->
            <!--<p class="pad"> <button ion-button color="ghinger" [disabled]="!this.signupForm.valid" (tap)="signup()">  NEXT  </button>-->
            <!-- <br/>
            <br/>
          </p> -->

          <!-- <ion-item class='greener' (tap)="submit()" [disabled]="!this.personalDocLocationForm.valid">
            <p class="position" style=" color: white;" >SUBMIT</p>
          </ion-item> -->
        </ion-card>

      </ion-card-content>

    </form>
    <!--</div>-->
  </ion-scroll>
</ion-content>