<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center;">Home Care Appointments</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-buttons end>
    <button ion-button full color="green1" (click)="openNewAppointment()" icon-only>
      New Appointment <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list *ngIf="homecare_details?.length > 0">
    <ion-item *ngFor="let homecare_detail of homecare_details">
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-2>
           <strong>1</strong>
          </ion-col> -->
          <ion-col col-8>
            <h2>{{homecare_detail.created_at | date: 'yyyy-MM-dd h:mm a' }}</h2>
            <strong>
              <p *ngIf="homecare_detail.confirm_status == true; else confirmstatusfalse">
                Confirmed
              </p></strong>
            <ng-template #confirmstatusfalse>
              <strong>Not Confirmed</strong>
            </ng-template>
          </ion-col>
          <ion-col col-2>
            <button ion-button  class="small_button" color="green1" round type="submit" (click)="homecare_appointment_history_details(homecare_detail.id,this.appointmentType)">Details</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
