<ion-header>

  <ion-navbar>
    <ion-title>Get A Personal Doctor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">

  <p><b style=" color: black;">Book An Appointment </b> </p>


  <form [formGroup]="appointForm">

    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Do you have a preferred doctor?</ion-label>
        <ion-select formControlName="requester_cat" name="requester_cat" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
          <ion-option  formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl></ion-option> 
          <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>No</ion-option>

        </ion-select>
      </ion-item>

      <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Doctor Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!appointForm.controls.beneficiary_name.valid && (appointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>

        </ion-item>
      </ion-item>

      <!--<ion-item>
          <ion-label><ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Who is the appointment for?</ion-label>
          <ion-select formControlName="requester_cat" name="requester_cat" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
            <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
            <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

          </ion-select>
        </ion-item>

        <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
          <ion-item>
            <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!appointForm.controls.beneficiary_name.valid && (appointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
          
          </ion-item>
        </ion-item>
       
        <ion-item [hidden]="!value">
          <ion-label> Appointment type</ion-label>
          <ion-select formControlName="appointment_type_id" name="appointment_type_id" [class.invalid]="!appointForm.controls.appointment_type_id.valid && (appointForm.controls.appointment_type_id.dirty || submitAttempt)">

            <ion-option name="appointment_type_id" value="PD" selected>PD</ion-option>

          </ion-select>
        </ion-item>
        <ion-item class="height">
          <ion-textarea placeholder="Please describe the medical problem..." lineHeight="22" formControlName="complaint_desc" name="complaint_desc"
            [class.invalid]="!appointForm.controls.complaint_desc.valid && (appointForm.controls.complaint_desc.dirty || submitAttempt)"></ion-textarea>
        <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon></ion-label>
        </ion-item>

        <ion-item class="height">
          <ion-textarea placeholder="Any previous medical problems?..." lineHeight="22" formControlName="prev_medical_history" name="prev_medical_history"
            [class.invalid]="!appointForm.controls.prev_medical_history.valid && (appointForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
             <ion-label> <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon></ion-label>
        </ion-item>
     
        <ion-item class="height">
          <ion-textarea placeholder=" Any Allergies?..." lineHeight="22" formControlName="allergies" name="allergies" [class.invalid]="!appointForm.controls.allergies.valid && (appointForm.controls.allergies.dirty || submitAttempt)"></ion-textarea>
         <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon> </ion-label>
        </ion-item>
       

        <ion-item>
          <ion-textarea placeholder="Appointment Date" lineHeight="22" formControlName="proposed_date" name="proposed_date"
            [class.invalid]="!appointForm.controls.proposed_date.valid && (appointForm.controls.proposed_date.dirty || submitAttempt)"></ion-textarea>
          <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " min="2017" max="2019" formControlName="proposed_date"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-textarea placeholder="Appointment Time" lineHeight="22" formControlName="proposed_time" name="proposed_time" [class.invalid]="!appointForm.controls.proposed_time.valid && (appointForm.controls.proposed_time.dirty || submitAttempt)"></ion-textarea>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="proposed_time"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-time" md="md-time"></ion-icon></ion-label>
        </ion-item>-->


      <!--<p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="book_appoint()"> Submit </button></p>-->
      <p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="submit()"> Submit </button></p>
    </ion-list>

  </form>

</ion-content>