<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center;">{{appointmentType1}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">
  <!--<ion-card-header class="pad">
    <img src="assets/icon/logo.png" height="60px" width="200px" />
  </ion-card-header>-->
  <p style="text-align:center;"><b style=" color: black;">Book an Appointment </b> </p>

  <!--<ion-card-header class="pad">
  </ion-card-header>-->
  <form [formGroup]="videoappointForm">

    <!--<ion-card>-->
    <ion-list>

      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Who is the appointment for?
        </ion-label>
        <ion-select formControlName="requester_cat" name="requester_cat" required>
          <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
          <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

        </ion-select>
      </ion-item>

      <ion-item *ngIf="videoappointForm.controls?.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!videoappointForm.controls?.beneficiary_name.valid && (videoappointForm.controls?.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="videoappointForm.controls.requester_cat.value =='T' ">
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Beneficiary's Sex
        </ion-label>
        <ion-select formControlName="beneficiary_gender" name="beneficiary_gender" [class.invalid]="!videoappointForm.controls.beneficiary_gender.valid && (videoappointForm.controls.beneficiary_gender.dirty || submitAttempt)">
          <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="M" ngDefaultControl>Male</ion-option>
          <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="F" ngDefaultControl>Female</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="videoappointForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-input type="number" placeholder="Enter Beneficiary's Age" formControlName="beneficiary_age" name="beneficiary_age" [class.invalid]="!videoappointForm.controls.beneficiary_age.valid && (videoappointForm.controls.beneficiary_age.dirty || submitAttempt)"></ion-input>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="videoappointForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-input type="number" placeholder="Enter Beneficiary Phone Number" formControlName="beneficiary_phone_number" name="beneficiary_phone_number"
            [class.invalid]="!videoappointForm.controls?.beneficiary_phone_number.valid && (videoappointForm.controls?.beneficiary_phone_number.dirty || submitAttempt)"></ion-input>
        </ion-item>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency
        </ion-label>
        <ion-select formControlName="req_urgency" name="req_urgency" [class.invalid]="!videoappointForm.controls?.requester_cat.valid && (videoappointForm.controls?.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>
          <ion-option formControlName="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>

        </ion-select>
      </ion-item>

      <!--<br/>-->
      <ion-item [hidden]="!value">
        <ion-label> Appointment type</ion-label>
        <ion-select formControlName="appointment_type_id" name="appointment_type_id" [class.invalid]="!videoappointForm.controls?.appointment_type_id.valid && (videoappointForm.controls?.appointment_type_id.dirty || submitAttempt)">

          <ion-option name="appointment_type_id" value="MA" selected>MA</ion-option>

        </ion-select>
      </ion-item>
      <ion-item class="height">
        <ion-textarea placeholder="Please describe the medical problem..." lineHeight="22" formControlName="complaint_desc" name="complaint_desc"
          [class.invalid]="!videoappointForm.controls?.complaint_desc.valid && (videoappointForm.controls?.complaint_desc.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>

      <!--<br/>-->
      <ion-item class="height">
        <ion-textarea placeholder="List your previous medical problems..." lineHeight="22" formControlName="prev_medical_history"
          name="prev_medical_history" [class.invalid]="!videoappointForm.controls?.prev_medical_history.valid && (videoappointForm.controls?.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon>
        </ion-label>
      </ion-item>
      <!--<br/>

      <br/>-->
      <ion-item class="height">
        <ion-textarea placeholder="Please list your allergies..." lineHeight="22" formControlName="allergies" name="allergies" [class.invalid]="!videoappointForm.controls?.allergies.valid && (videoappointForm.controls?.allergies.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>
      <!--<br/>-->

      <ion-item class="height">
        <ion-textarea placeholder="Please list medications you are on..." lineHeight="22" formControlName="medication" name="medication"
          [class.invalid]="!videoappointForm.controls?.medication.valid && (videoappointForm.controls?.medication.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea placeholder="Appointment Date" lineHeight="22" formControlName="proposed_date" name="proposed_date" [class.invalid]="!videoappointForm.controls?.proposed_date.valid && (videoappointForm.controls?.proposed_date.dirty || submitAttempt)"></ion-textarea>
        <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " [min]="minSelectabledate" formControlName="proposed_date"></ion-datetime>
        <ion-label>
          <ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea placeholder="Appointment Time" lineHeight="22" formControlName="proposed_time" name="proposed_time" [class.invalid]="!videoappointForm.controls?.proposed_time.valid && (videoappointForm.controls?.proposed_time.dirty || submitAttempt)"></ion-textarea>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="proposed_time"></ion-datetime>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time"></ion-icon>
        </ion-label>
      </ion-item>
      <!--<ion-item [disabled]="!this.videoappointForm.valid">-->
      <p class="pad" style="text-align: center;"> <button style="text-align: center;" ion-button color="green1" [disabled]="!this.videoappointForm.valid"
          (tap)="submit()" style="text-align:center;"> Submit </button></p>
      <!--<img src="assets/icon/submit.png"  class='tab' height="200px" width="200px"  (tap)="book_appoint()" />-->
      <!--</ion-item>-->

    </ion-list>

  </form>

</ion-content>



<!--<p class="pad"> <button ion-button color="green1" [disabled]="!this.videoappointForm.valid" (tap)="book_appoint()"> Submit </button></p>-->



<!--<ion-content class="main-view">-->

<!--<div class="overlay" (click)="closeModal()"></div>-->
<!--<ion-scroll class="modal_content" scrollY="true">-->
<!--&lt;!&ndash;<div class="modal_content">&ndash;&gt;-->
<!--<ion-buttons end>-->
<!--<button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>-->
<!--</ion-buttons>-->
<!--<br/>-->
<!--<br/>-->
<!--<br/>-->

<!--<ion-card-content>-->
<!--<ion-card>-->
<!--<ion-item >-->
<!--<p class="position" style=" color: black;">Video Consult </p>-->

<!--</ion-item>-->
<!--<br/>-->
<!--<br/>-->


<!--&lt;!&ndash;<form >&ndash;&gt;-->
<!--<ion-item>-->
<!--<ion-label><ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Who is the appointment for?</ion-label>-->
<!--<ion-select [(ngModel)]="requester_cat" name="requester_cat" [class.invalid]="!videoappointForm.controls.requester_cat.valid && (videoappointForm.controls.requester_cat.dirty || submitAttempt)">-->
<!--<ion-option [(ngModel)]="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>-->
<!--<ion-option [(ngModel)]="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>-->

<!--</ion-select>-->
<!--</ion-item>-->

<!--&lt;!&ndash;<br/>&ndash;&gt;-->

<!--<ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">-->
<!--<ion-item>-->
<!--<ion-textarea placeholder="Enter Beneficiary Name" [(ngModel)]="beneficiary_name" name="beneficiary_name" [class.invalid]="!videoappointForm.controls.beneficiary_name.valid && (videoappointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>-->
<!--&lt;!&ndash;<ion-label> <ion-icon ios="ios-create" md="md-create"></ion-icon></ion-label>&ndash;&gt;-->
<!--</ion-item>-->
<!--</ion-item>-->
<!--&lt;!&ndash;<br/>&ndash;&gt;-->

<!--<ion-item>-->
<!--<ion-label><ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency</ion-label>-->
<!--<ion-select [(ngModel)]="req_urgency" name="req_urgency" [class.invalid]="!videoappointForm.controls.requester_cat.valid && (videoappointForm.controls.requester_cat.dirty || submitAttempt)">-->
<!--<ion-option [(ngModel)]="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>-->
<!--<ion-option [(ngModel)]="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>-->

<!--</ion-select>-->
<!--</ion-item>-->

<!--&lt;!&ndash;<br/>&ndash;&gt;-->
<!--<ion-item [hidden]="!value">-->
<!--<ion-label> Appointment type</ion-label>-->
<!--<ion-select [(ngModel)]="appointment_type_id" name="appointment_type_id" [class.invalid]="!videoappointForm.controls.appointment_type_id.valid && (videoappointForm.controls.appointment_type_id.dirty || submitAttempt)">-->

<!--<ion-option name="appointment_type_id" value="VC" selected>VC</ion-option>-->

<!--</ion-select>-->
<!--</ion-item>-->
<!--<ion-item class="height">-->
<!--<ion-textarea placeholder="Please describe the medical problem..." lineHeight="22" [(ngModel)]="complaint_desc" name="complaint_desc"-->
<!--[class.invalid]="!videoappointForm.controls.complaint_desc.valid && (videoappointForm.controls.complaint_desc.dirty || submitAttempt)"></ion-textarea>-->
<!--<ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon></ion-label>-->
<!--</ion-item>-->

<!--&lt;!&ndash;<br/>&ndash;&gt;-->
<!--<ion-item class="height">-->
<!--<ion-textarea placeholder="List your previous medical problems..." lineHeight="22" [(ngModel)]="prev_medical_history" name="prev_medical_history"-->
<!--[class.invalid]="!videoappointForm.controls.prev_medical_history.valid && (videoappointForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>-->
<!--<ion-label> <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon></ion-label>-->
<!--</ion-item>-->
<!--&lt;!&ndash;<br/>-->

<!--<br/>&ndash;&gt;-->
<!--<ion-item class="height">-->
<!--<ion-textarea placeholder="Please list medications you are on..." lineHeight="22" [(ngModel)]="medication" name="medication" [class.invalid]="!videoappointForm.controls.medication.valid && (videoappointForm.controls.medication.dirty || submitAttempt)"></ion-textarea>-->
<!--<ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon> </ion-label>-->
<!--</ion-item>-->

<!--<ion-list>-->
<!--<ion-item >-->
<!--<ion-textarea placeholder="Appointment Date" lineHeight="22"  name="proposed_date"-->
<!--&gt;</ion-textarea>-->
<!--<ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " min="2018"  [(ngModel)]="proposed_date" [class.invalid]="!videoappointForm.controls.proposed_date.valid && (videoappointForm.controls.proposed_date.dirty || submitAttempt)"></ion-datetime>-->
<!--<ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>-->
<!--</ion-item>-->

<!--<ion-item >-->
<!--<ion-textarea placeholder="Appointment Time" lineHeight="22"  name="proposed_time" ></ion-textarea>-->
<!--<ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="proposed_time" [class.invalid]="!videoappointForm.controls.proposed_time.valid && (videoappointForm.controls.proposed_time.dirty || submitAttempt)"></ion-datetime>-->
<!--<ion-label><ion-icon class="green" ios="ios-time" md="md-time"></ion-icon></ion-label>-->
<!--</ion-item>-->

<!--</ion-list>-->

<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--<ion-item class='greener' (tap)="submit()">-->
<!--<p class="position" style=" color: white;" >SUBMIT</p>-->
<!--</ion-item>-->
<!--</ion-card>-->

<!--</ion-card-content>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</ion-scroll>-->
<!--</ion-content>-->