<ion-content class="main-view">

  <div class="overlay" (click)="closeModal()"></div>
  <ion-scroll class="modal_content" scrollY="true">
    <!--<div class="modal_content">-->
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <br/>
    <br/>
    <br/>

    <ion-card-content>
      <ion-card>
        <ion-item>
          <p class="position" style=" color: black;">PDS Home Care Details </p>

        </ion-item>

        <!-- <form [formGroup]="referpatientForm"> -->

        <ion-list *ngIf="doc_pds_homecare?.length > 0; else general_medicationfalse">
          <ion-item *ngFor="let doc_pds_homecare of doc_pds_homecare">
            <br>
            <table>
              <tbody>
                <!-- <tr><th scope="row">No.</th><td>1</td></tr> -->
                <tr>
                  <th scope="row">Patient Name</th>
                  <td>{{doc_pds_homecare.surname}} {{doc_pds_homecare.other_names}}</td>
                </tr>
                <tr>
                  <th scope="row">Patient Contact</th>
                  <td>{{doc_pds_homecare.contact}}</td>
                </tr>
                <tr>
                  <th scope="row">Appt Type</th>
                  <td>{{doc_pds_homecare.appointment_type}}</td>
                </tr>
                <tr>
                  <th scope="row">Date/Time</th>
                  <td>{{doc_pds_homecare.confirmed_date | date: 'yyyy-MM-dd h:mm a' }}</td>
                </tr>
                <tr>
                  <th scope="row">Accept Status</th>
                  <td *ngIf="doc_pds_homecare.accepted_status == true;">Accepted</td>
                  <td *ngIf="doc_pds_homecare.accepted_status == false;">Not Accepted</td>
                </tr>

                <tr>
                  <th scope="row">Attend Status</th>
                  <td *ngIf="doc_pds_homecare.attended_to == true;">Attended to</td>
                  <td *ngIf="doc_pds_homecare.attended_to == false;">Unattended to</td>
                 
                </tr>
                <!-- <tr> -->

                <!-- </tr> -->
              </tbody>
            </table>
            <br>
            <br>

            <div padding style="text-align: center;" >
              <button ion-button class="small_button" color="primary" round type="submit" (tap)="closeModal()">Close</button>
            </div>

          </ion-item>
        </ion-list>

        <ng-template #general_medicationfalse>
          <ion-list>
            <ion-item>
              <p style="text-align: center;">Sorry you do not have any appointment</p>
            </ion-item>
            <br>
            <br>
            <ion-buttons end>
              <button ion-button class="small_button" color="green1" round type="submit" (tap)="closeModal()">Close</button>
            </ion-buttons>
          </ion-list>

        </ng-template>

        <!-- </form> -->

      </ion-card>

    </ion-card-content>
  </ion-scroll>
</ion-content>