<!--<ion-header>-->
<ion-content class="ash">
  <ion-navbar>
    <ion-title  class="up1">
      <!-- Personal Doctor -->
    </ion-title>
  </ion-navbar>
<!--</ion-header>-->



<div class="img-circular"></div>


<p class="down"> </p>
<p class="down1">Your personal doctor is <br><p style=" color: #789527;">Dr. {{surname}} {{first_name}}</p></p>


  <form class="padd">

    <ion-item class="item1">What do you need? </ion-item>
    <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col col-6 >
          <!--<ion-card>-->
          <img src="assets/icon/phone.png" height="100px" width="100px" (tap)="phone('PC')" />

          <figcaption><b style=" color: black;">Phone Consult</b>
            <ion-badge color="danger1" item-end>{{pdpc_patient_appointment_count>0 ? pdpc_patient_appointment_count : null}}</ion-badge>
          </figcaption>
           <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
           <img src="assets/icon/vid.png" height="100px" width="100px" (tap)="video('PDVC')" />
          <figcaption><b style=" color: black;">Video Consult</b>
            <ion-badge color="danger1" item-end>{{pdvc_patient_appointment_count>0 ? pdvc_patient_appointment_count : null}}</ion-badge>
          </figcaption>
        <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/home.png" height="100px" width="100px" (tap)="homecare('PDHC')" />
          <figcaption><b style=" color: black;">Home Care</b>
            <ion-badge color="danger1" item-end>{{pdhc_patient_appointment_count>0 ? pdhc_patient_appointment_count : null}}</ion-badge>
          </figcaption>
      <!--</ion-card>-->
        </ion-col>
        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/presc.png" height="100px" width="100px" (tap)="prescription('PDDP')" />
          <figcaption><b style=" color: black;">Prescriptions</b>
            <ion-badge color="danger1" item-end>{{pddp_patient_appointment_count>0 ? pddp_patient_appointment_count : null}}</ion-badge>
          </figcaption>
      <!--</ion-card>-->
        </ion-col>


      </ion-row>

    </ion-grid>
  </ion-card-content>

  </form>

</ion-content>

