<ion-header>

  <ion-navbar>
    <ion-title>Medication Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<h2>Add User</h2>-->
  <form>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Location</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.location}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Category</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.requestcategory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Sex</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_gender}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Age</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_age}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Number</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.beneficiary_phone_number}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Urgency</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.requesturgency | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Previous medical history</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.prevmedicalhistory | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Medication</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.medications | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Allergies</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.allergies | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Source</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.source}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Confirm Status</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.confirmstatus}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="!currentmedappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Date and Time</b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.created_at  | date: 'yyyy-MM-dd h:mm a'}}</ion-label>
    </ion-item>

    <ion-item text-wrap class="text-left" *ngIf="currentmedappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Confirmed date: </b></ion-label>
      <ion-label col-7>{{currentmedappointmentdetaildata.confirmed_date | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>


    <!--<button ion-button type="submit" block>Add User</button>-->
  </form>
</ion-content>
