<ion-header>
  <ion-navbar>
    <ion-title>Home Care Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Category : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.requestcategory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currenthomecareappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Name : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.beneficiary}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currenthomecareappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Age : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.beneficiary_age}}</ion-label>
    </ion-item>

    <ion-item text-wrap class="text-left" *ngIf="currenthomecareappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Gender : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.beneficiary_gender}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currenthomecareappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Number : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.beneficiary_phone_number}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Urgency : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.requesturgency}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Proposed Date and Time: </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.proposeddateandtime | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Complaints : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.complaint}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Previous medical history : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.prevmedicalhistory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Allergies : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.allergies}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Medications : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.medication | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Source : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.source}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Confirm Status : </b></ion-label>
      <ion-label col-7>{{currenthomecareappointmentdetaildata.confirmstatus}}</ion-label>
    </ion-item>

    <div padding style="text-align: center;" *ngIf="doctor_records">
      <button ion-button class="small_button" color="green1" round type="submit" (click)="doctorrecords(doctor_records)">Doctor
        Records</button>
    </div>
  </form>
</ion-content>