<!--
  Generated template for the PhoneConsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Personal Patients Accepted</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <p class="center">
    <b style=" color: black;">List of personal patients.. </b>
  </p>

  <ion-item *ngIf="check?.length == 0">
    <p class="center"><b style=" color: black;">No Patient accepted </b></p>
  </ion-item>

  <ion-item *ngIf="check?.length > 0">
    <ion-list *ngFor="let data of check">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/icon/doc.png">
        </ion-thumbnail>
        <h2>
          <b>{{ data.other_names}} {{ data.surname}}</b>
        </h2>
        <p>{{ data.mobile_number}}</p>
        <button ion-button class="small_button" item-end color="green1" round (tap)="view(data.id)">View</button>
      </ion-item>

    </ion-list>
  </ion-item>

  <ion-item *ngIf="no_data?.length > 0">
    <ion-list>
      <ion-item>
        <br>
        <p style="text-align: center;"><strong>Sorry, no records were found.</strong></p>
      </ion-item>

    </ion-list>
  </ion-item>

</ion-content>