// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #488aff,
  primary:    #222,
  secondary:  #32db64,
  // danger:     #f53d3d,
  danger:     #222,
  danger1:     rgb(216, 41, 41),
  // light:      #f4f4f4,
   light:      #222,
  dark:       #222,
 ghinger:  #92d36e,
 green1: #789527,
);

$toolbar-background: color($colors, green1); 

$font-family-base: 'Arial';
$font-family-ios-base: 'Arial';
$font-family-md-base: 'Arial';
$font-family-wp-base: 'Verdana';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
.md button {
  text-transform: none;
}

// Style iOS buttons
.ios button {
  text-transform: none;
}


.text-left{
  text-align: left;
}

.ion-title{
	text-align: center;
}

.tabbar {

	a.tab-button[aria-selected=true]:nth-of-type(1) {
		color: #789527;
		.tab-button-icon {
			color: #789527;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(2) {
		color: #789527;
		.tab-button-icon {
			color: #789527;
		}
	}
	a.tab-button[aria-selected=true]:nth-of-type(3) {
		color: #789527;
		.tab-button-icon {
			color: #789527;
		}
  }
  a.tab-button[aria-selected=true]:nth-of-type(4) {
		color: #789527;
		.tab-button-icon {
			color: #789527;
		}
	}
}







// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
