<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center;">Prescription</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <p style="text-align:center;">
    <b style=" color: black;">Book an Appointment </b>
  </p> -->

  <form [formGroup]="prescriptionForm">

    <ion-list>

      <br><br>
      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Request Type</ion-label>
        <ion-select formControlName="requester_cat" name="requester_cat" required>
          <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
          <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

        </ion-select>
      </ion-item>


      <!-- <ion-item *ngIf="prescriptionForm.controls?.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!prescriptionForm.controls?.beneficiary_name.valid && (prescriptionForm.controls?.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="prescriptionForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-input type="number" placeholder="Enter Beneficiary Phone Number" formControlName="beneficiary_phone_number" name="beneficiary_phone_number"
            [class.invalid]="!prescriptionForm.controls?.beneficiary_phone_number.valid && (prescriptionForm.controls?.beneficiary_phone_number.dirty || submitAttempt)"></ion-input>
        </ion-item>
      </ion-item> -->

      <ion-item *ngIf="prescriptionForm.controls?.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!prescriptionForm.controls?.beneficiary_name.valid && (prescriptionForm.controls?.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="prescriptionForm.controls.requester_cat.value =='T' ">
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Beneficiary's Sex
        </ion-label>
        <ion-select formControlName="beneficiary_gender" name="beneficiary_gender" [class.invalid]="!prescriptionForm.controls.beneficiary_gender.valid && (prescriptionForm.controls.beneficiary_gender.dirty || submitAttempt)">
          <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="M" ngDefaultControl>Male</ion-option>
          <ion-option formControlName="beneficiary_gender" name="beneficiary_gender" value="F" ngDefaultControl>Female</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="prescriptionForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-input type="number" placeholder="Enter Beneficiary's Age" formControlName="beneficiary_age" name="beneficiary_age" [class.invalid]="!prescriptionForm.controls.beneficiary_age.valid && (prescriptionForm.controls.beneficiary_age.dirty || submitAttempt)"></ion-input>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="prescriptionForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-input type="number" placeholder="Enter Beneficiary Phone Number" formControlName="beneficiary_phone_number" name="beneficiary_phone_number"
            [class.invalid]="!prescriptionForm.controls?.beneficiary_phone_number.valid && (prescriptionForm.controls?.beneficiary_phone_number.dirty || submitAttempt)"></ion-input>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency</ion-label>
        <ion-select formControlName="req_urgency" name="req_urgency" [class.invalid]="!prescriptionForm.controls?.requester_cat.valid && (prescriptionForm.controls?.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>
          <ion-option formControlName="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>

        </ion-select>
      </ion-item><br>


      <ion-item class="height">
        <ion-textarea placeholder="List medication(s) you require..." lineHeight="22" name="medication" formControlName="medication" [class.invalid]="!prescriptionForm.controls?.medication.valid && (prescriptionForm.controls?.medication.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>

      <!-- <p class="center"><b style=" color: #789527;"> OR </b></p>
      <p class="center" [hidden]="lastImage !== null" style=" color: black;">Please upload your prescription.</p>
      <ion-buttons style="text-align: center;">
        <button ion-button icon-left color="green1" (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>Select Image
        </button>
        <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
          <ion-icon name="cloud-upload"></ion-icon>Upload
        </button>
      </ion-buttons>
      <br>
      <img src="{{pathForImage(lastImage)}}" style="width: 50%" [hidden]="lastImage === null">
      <br> -->


      <ion-item class="height">
        <ion-textarea placeholder="Let us know your allergies" lineHeight="22" formControlName="allergies" name="allergies"
          [class.invalid]="!prescriptionForm.controls.allergies.valid && (prescriptionForm.controls.allergies.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item class="height">
        <ion-textarea placeholder="Please provide your medical history" lineHeight="22" formControlName="prev_medical_history"
          name="prev_medical_history" [class.invalid]="!prescriptionForm.controls.prev_medical_history.valid && (prescriptionForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item class="height">
        <ion-label floating text-wrap="true">
          <ion-icon class="green" ios="ios-time" md="md-time"></ion-icon> Duration of medication (no of days) </ion-label>
        <ion-input type="number" name="med_duration" formControlName="med_duration" [class.invalid]="!prescriptionForm.controls?.med_duration.valid && (prescriptionForm.controls?.med_duration.dirty || submitAttempt)"></ion-input>

      </ion-item>

    
      <p class="pad" style="text-align: center;">
        <button style="text-align: center;" ion-button color="green1" [disabled]="!this.prescriptionForm.valid" (tap)="submit()"
          style="text-align:center;"> Submit </button>
      </p>

    </ion-list>

  </form>

</ion-content>