

<ion-content class="main-view">
  
  <div class="overlay" (click)="closeModal()"></div>
   <ion-scroll class="modal_content" scrollY="true">
  <!--<div class="modal_content">-->
     <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <br/>
  <br/>
  <br/>

  <ion-card-content>
    <ion-card>
      <ion-item >
        <p class="position" style=" color: black;">Refer a patient to Ghinger </p>
          
      </ion-item>
    
      <form [formGroup]="referpatientForm">
        
        <ion-list>

          <ion-item >
            <ion-input type="text" placeholder="Surname of patient" lineHeight="22"  formControlName="patient_surname" name="patient_surname" [class.invalid]="!referpatientForm.controls.patient_surname.valid && (referpatientForm.controls.patient_surname.dirty || submitAttempt)" ></ion-input>
            <ion-label><ion-icon class="green" ios="ios-person" md="md-person"></ion-icon> </ion-label>
          </ion-item>
          
          <ion-item >
            <ion-input type="text" placeholder="Other names of patient" lineHeight="22"  formControlName="patient_other_names" name="patient_other_names" [class.invalid]="!referpatientForm.controls.patient_other_names.valid && (referpatientForm.controls.patient_other_names.dirty || submitAttempt)" ></ion-input>
            <ion-label><ion-icon class="green" ios="ios-person" md="md-person"></ion-icon> </ion-label>
          </ion-item>
               
          <ion-item>
            <ion-textarea placeholder="Date of birth" lineHeight="22"  name="proposed_date" ></ion-textarea>
            <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " formControlName="patient_dob" name="patient_dob" [class.invalid]="!referpatientForm.controls.patient_dob.valid && (referpatientForm.controls.patient_dob.dirty || submitAttempt)"></ion-datetime>
            <ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>
          </ion-item>
                
          <ion-item>
            <ion-input type="number" placeholder="Mobile number" lineHeight="22" formControlName="patient_number" name="patient_number" [class.invalid]="!referpatientForm.controls.patient_number.valid && (referpatientForm.controls.patient_number.dirty || submitAttempt)" ></ion-input>
            <ion-label><ion-icon class="green" ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon></ion-label>
          </ion-item>  
        
          <!-- <ion-item class='greener' [disabled]="!this.referpatientForm.valid"  (tap)="submit()">
              <p class="position" style=" color: white;" >SUBMIT</p>
          </ion-item> -->

          <div padding>
            <button ion-button  class="greener" block [disabled]="!this.referpatientForm.valid" (tap)="submit()">SUBMIT</button>
          </div>
              
        </ion-list>
    
      </form>

    </ion-card>

  </ion-card-content>
  </ion-scroll>
</ion-content>

