<!-- <ion-header>

  <ion-navbar>
    <ion-title>Professional Info</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>

    <ion-title>Professional Info</ion-title>
    <ion-card-header class="pad">
       <img src="assets/icon/refresh.png"  style="align-content: right;" (tap)="Refresh()"/>
    </ion-card-header>
  </ion-navbar>
</ion-header>


<ion-content padding="true">

  <ion-refresher (ionRefresh)="doRefresh($event)">
  </ion-refresher>

  <form [formGroup]="professionalInfoForm" class="padd">

    <p class="center"><b style=" color: black;">Please Provide these additional info to proceed.. </b> </p>
    <br/>
    <!--<form  class="padd">-->

    <ion-item>
      <ion-label>
        <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Country
      </ion-label>

      <ion-select formControlName="country_id" name="country_id" [class.invalid]="!professionalInfoForm.controls.country_id.valid && (professionalInfoForm.controls.country_id.dirty || submitAttempt)"
        [(ngModel)]="country_id" (ionChange)="get_region(country_id);">
        <ion-option *ngFor="let data of countries" [value]="data.id">{{data.country_name}}</ion-option>
      </ion-select>

    </ion-item>

    <br>
    <ion-item *ngIf="professionalInfoForm.value.country_id">
      <ion-label>
        <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Region/State
      </ion-label>

      <ion-select formControlName="region_id" name="region_id" [class.invalid]="!professionalInfoForm.controls.region_id.valid && (professionalInfoForm.controls.region_id.dirty || submitAttempt)"
        [(ngModel)]="region_id" (ionChange)="get_cities(region_id);">
        <ion-option *ngFor="let data of regions" [value]="data.id">{{data.region_state_name}}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-item *ngIf="professionalInfoForm.value.region_id">
      <ion-label>
        <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select City
      </ion-label>

      <ion-select formControlName="city_id" name="city_id" [class.invalid]="!professionalInfoForm.controls.city_id.valid && (professionalInfoForm.controls.city_id.dirty || submitAttempt)"
        [(ngModel)]="city_id" (ionChange)="get_suburbs(city_id);">
        <ion-option *ngFor="let data of cities" [value]="data.id">{{data.city_town_name}}</ion-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-auto-complete *ngIf="professionalInfoForm.value.city_id" [dataProvider]="SuburbLocationService" [options]="{ placeholder : 'Enter Suburb' }"
      #input #searchbar>
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
    </ion-auto-complete>

    <br/>
    <br/>


    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Which hospital do you work at?
      </ion-label>
      <ion-input type="text" [(ngModel)]="hospital_name" name="hospital_name" formControlName="hospital_name" [class.invalid]="!professionalInfoForm.controls.hospital_name.valid && (professionalInfoForm.controls.hospital_name.dirty || submitAttempt)"></ion-input>
    </ion-item>



    <ion-item>
      <ion-label floating>Specialty</ion-label>
      <!-- <ion-input type="text"  [(ngModel)]="hospital_name" name="hospital_name"  ></ion-input> -->
      <ion-select name="specialty_name" [(ngModel)]="specialty_name" formControlName="specialty_name" [class.invalid]="!professionalInfoForm.controls.specialty_name.valid && (professionalInfoForm.controls.specialty_name.dirty || submitAttempt)">
        <ion-option *ngFor="let data of jsonBody1" [value]="data.id" ngDefaultControl>{{data.title}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Specialty Duration (in years)</ion-label>
      <ion-input type="number" [(ngModel)]="specialty_duration" name="specialty_duration" formControlName="specialty_duration"
        [class.invalid]="!professionalInfoForm.controls.specialty_duration.valid && (professionalInfoForm.controls.specialty_duration.dirty || submitAttempt)"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please Provide License number
      </ion-label>
      <ion-input type="text" [(ngModel)]="license_number" name="license_number" formControlName="license_number" [class.invalid]="!professionalInfoForm.controls.license_number.valid && (professionalInfoForm.controls.license_number.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Medical Regulator</ion-label>
      <!-- <ion-input type="text"  [(ngModel)]="hospital_name" name="hospital_name"  ></ion-input> -->
      <ion-select name="medical_regulator" [(ngModel)]="medical_regulator" formControlName="medical_regulator" [class.invalid]="!professionalInfoForm.controls.medical_regulator.valid && (professionalInfoForm.controls.medical_regulator.dirty || submitAttempt)">
        <ion-option *ngFor="let data of jsonBody2" [value]="data.id" ngDefaultControl>{{data.group_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Are you a Specialist?</ion-label>
      <ion-select name="has_specialty" [(ngModel)]="has_specialty" formControlName="has_specialty" [class.invalid]="!professionalInfoForm.controls.has_specialty.valid && (professionalInfoForm.controls.has_specialty.dirty || submitAttempt)">
        <ion-option value="t" ngDefaultControl>Yes</ion-option>
        <ion-option value="f" ngDefaultControl>No</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="has_specialty == 't'">
      <ion-label floating>Has any foreign training?</ion-label>
      <!-- <ion-input type="text"  [(ngModel)]="hospital_name" name="hospital_name"  ></ion-input> -->
      <ion-select name="foreign_training" [(ngModel)]="foreign_training" formControlName="foreign_training" [class.invalid]="!professionalInfoForm.controls.foreign_training.valid && (professionalInfoForm.controls.foreign_training.dirty || submitAttempt)">
        <ion-option value="t" selected>Yes</ion-option>
        <ion-option value="f" ngDefaultControl>No</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="foreign_training == 't'">
      <ion-label floating>
        Foriegn Medical Regulator </ion-label>
      <ion-input type="text" [(ngModel)]="foreign_medical_regulator" name="foreign_medical_regulator" formControlName="foreign_medical_regulator"
        [class.invalid]="!professionalInfoForm.controls.foreign_medical_regulator.valid && (professionalInfoForm.controls.foreign_medical_regulator.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item *ngIf="foreign_training == 't'">
      <ion-label floating>
        Foriegn License Number </ion-label>
      <ion-input type="text" [(ngModel)]="foreign_license_number" name="foreign_license_number" formControlName="foreign_license_number"
        [class.invalid]="!professionalInfoForm.controls.foreign_license_number.valid && (professionalInfoForm.controls.foreign_license_number.dirty || submitAttempt)"></ion-input>
    </ion-item>






    <!-- 


    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please Provide your registration board</ion-label>
      <ion-input type="text"  [(ngModel)]="registration_board" name="registration_board"  ></ion-input>
    </ion-item>

<br/>
    <ion-item>
      <ion-label>
        <ion-icon ios="ios-planet" md="md-planet"></ion-icon> Are you a specialist?</ion-label>
      <ion-select  [(ngModel)]="specialty" name="specialty"  >
        <ion-option  name="specialty" value="Yes" ngDefaultControl>Yes</ion-option>
        <ion-option  name="specialty" value="No" ngDefaultControl>No</ion-option>
       
      </ion-select>
    </ion-item>
     <br/>
        <ion-item *ngIf="specialty == 'Yes'">
          <ion-item [(ngModel)]="specialty_name">
            <ion-textarea placeholder="Please provide your specialty"></ion-textarea>
          </ion-item>
        </ion-item>
        <br/> -->
    <!--
     <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please enter your specialty</ion-label>
      <ion-input type="text"  name="surname" ></ion-input>
    </ion-item>-->




    <!-- <p class="pad"> <button ion-button color="green1" (tap)="signup()"> Submit </button>


      <br/>
      <br/>
    </p> -->

    <div padding style="text-align: center;">
      <!-- <button ion-button color="primary" class="small_button" round (tap)="closeModal()">Back</button> -->
      <button ion-button class="small_button" color="green1" round [disabled]="!this.professionalInfoForm.valid" (tap)="signup()">
        Submit</button>
    </div>

  </form>

  <!--
  </form>-->

</ion-content>