<ion-header>

  <ion-navbar>
    <ion-title>Lab Details!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <!--<h2>Add User</h2>-->
  <form>
    <!--<ion-item text-wrap class="text-left">-->
      <!--<ion-label col-5><b>Location</b></ion-label>-->
      <!--<ion-input type="text" [(ngModel)]="currentmedappointmentdetaildata.location" name="location" disabled="true"></ion-input>-->
    <!--</ion-item>-->
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Category : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.requestcategory}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.beneficiary}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Sex : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.beneficiary_gender}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Age : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.beneficiary_age}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentlabappointmentdetaildata.requestcategory =='Beneficiary'">
      <ion-label col-5><b>Beneficiary Number : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.beneficiary_phone_number}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Request Urgency : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.requesturgency}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="!currentlabappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Proposed date and time: </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.proposeddateandtime | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left" *ngIf="currentlabappointmentdetaildata.confirmed_date">
      <ion-label col-5><b>Confirmed date and time: </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.confirmed_date | date: 'yyyy-MM-dd h:mm a' }}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Previous medical history : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.prevmedicalhistory | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Test List : </b></ion-label>
      <!-- <p [innerHTML]="item.anleser"></p> -->
      <ion-label col-7 [innerHTML]="currentlabappointmentdetaildata.test_list"></ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Allergies : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.allergies | removehtmltags}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Source : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.source}}</ion-label>
    </ion-item>
    <ion-item text-wrap class="text-left">
      <ion-label col-5><b>Confirm Status : </b></ion-label>
      <ion-label col-7>{{currentlabappointmentdetaildata.confirmstatus}}</ion-label>
    </ion-item>


    <!--<button ion-button type="submit" block>Add User</button>-->
  </form>
</ion-content>
