<ion-header >
  <ion-navbar style="text-align: center;">
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- <ion-item class="pad1"> <b  style=" color: #789527;">Services</b>  </ion-item> -->
  <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col col-6 >
          <!--<ion-card>-->

           <img src="assets/icon/med_app.png" height="100px" width="100px"  (tap)="new_appointments()" />

          <figcaption><b style=" color: black;">New Appointments <ion-badge color="danger1" item-end>{{doc_new_total_count_appoint_counter>0 ? doc_new_total_count_appoint_counter : null}}</ion-badge></b>
            
          </figcaption>
           <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
           <img src="assets/icon/presc.png" height="100px" width="100px" (tap)="gen_appointments()" />
          <figcaption><b style=" color: black;">General Appointments <ion-badge color="danger1" item-end>{{doc_general_total_count_appoint_counter>0 ? doc_general_total_count_appoint_counter : null }}</ion-badge></b>
            
          </figcaption>
        <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/per_doc.png" height="100px" width="100px" (tap)="pds_appointments()" />
          <figcaption><b style=" color: black;">PDS Appointments 
            <!-- <ion-badge color="danger1" item-end>{{total_doc_pds_appointment_count}}</ion-badge> -->
          </b></figcaption>
          
      <!--</ion-card>-->
        </ion-col>
      
      </ion-row>

    </ion-grid>
  </ion-card-content>


</ion-content>
