<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center;">Welcome to Appointments</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <div class="card">


    <form [formGroup]="searchForm" class="padd">

      <p class="pad" style=" color: black;">Please tell us your location...</p>


      <ion-item>
        <ion-label>
          <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Country</ion-label>

        <ion-select formControlName="country_id" name="country_id" [class.invalid]="!searchForm.controls.country_id.valid && (searchForm.controls.country_id.dirty || submitAttempt)"
          [(ngModel)]="country_id" (ionChange)="get_region(country_id);">
          <ion-option *ngFor="let data of countries" [value]="data.id">{{data.country_name}}</ion-option>
        </ion-select>

      </ion-item>

      <br>
      <ion-item *ngIf="searchForm.value.country_id">
        <ion-label>
          <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Region/State</ion-label>

        <ion-select formControlName="region_id" name="region_id" [class.invalid]="!searchForm.controls.region_id.valid && (searchForm.controls.region_id.dirty || submitAttempt)"
          [(ngModel)]="region_id" (ionChange)="get_cities(region_id);">
          <ion-option *ngFor="let data of regions" [value]="data.id">{{data.region_state_name}}</ion-option>
        </ion-select>
      </ion-item>

      <br>
      <ion-item *ngIf="searchForm.value.region_id">
        <ion-label>
          <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select City</ion-label>

        <ion-select formControlName="city_id" name="city_id" [class.invalid]="!searchForm.controls.city_id.valid && (searchForm.controls.city_id.dirty || submitAttempt)"
          [(ngModel)]="city_id" (ionChange)="get_suburbs(city_id);">
          <ion-option *ngFor="let data of cities" [value]="data.id">{{data.city_town_name}}</ion-option>
        </ion-select>
      </ion-item>

      <br>
      <ion-auto-complete *ngIf="searchForm.value.city_id" [dataProvider]="SuburbLocationService" [options]="{ placeholder : 'Enter Suburb' }"
        #input #searchbar>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </ion-auto-complete>

      <br/>
      <br/>


      <br>
      <div padding style="text-align: center;">
        <!-- <button ion-button color="primary" class="small_button" round (tap)="closeModal()">Back</button> -->
        <button ion-button class="small_button" color="green1" round [disabled]="!this.searchForm.valid" (tap)="go()">
          Find clinic or Hospital </button>
      </div>

      <!-- <p class="pad">
        <button ion-button color="green1" (tap)="go()">Find clinic or Hospital </button>
      </p> -->
    </form>

  </div>

</ion-content>

<!-- <body ng-controller="MyCtrl as ctrl">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Service Provider Details</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
      <div class="col">Utility Company Name</div>
      <div class="col">Service Code</div>
      <div class="col">Pay Limit</div>
      <div class="col">Account Number to Use</div>
      <div class="col"></div>
    </div>
    <div class="row" ng-repeat="data in ctrl.data">
      <div class="col">{{data.name}}</div>
      <div class="col">{{data.code}}</div>
      <div class="col">LK {{data.limit}}</div>
      <div class="col">{{data.account}}</div>
      <div class="col">
        <button class="button" ng-click="ctrl.add($index)">Add</button>
      </div>
    </div>
  </ion-content>
</body> -->


<!-- </ion-content> -->