page-doctorhome {

    .img-circular{
        width: 100px;
        height: 100px;
        background-image: url("../assets/icon/doc.png"); 
        background-size: cover;
        display: block;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        background-color: white;
         margin-top: -2%;
              right: 35%;
              position : absolute;
       }
       
         .ash{
       
            background-color: #ece7e7;
         }
       
       
          .pad{
       
               text-align:center;    
       
           } 
       
       
       
          .item1{
                margin-top: -7%;
               text-align:center; 
                color: #789527;   
       
           }
       
           .padd{
       
             padding-top: 8%;
             background-color: white;
           }
              .down{
       
             padding-top: 20%;
             align-content: center;
               // text-align:center; 
              
               //  right: 45%;
                color: #789527;
            
           }
       
             .down1{
       
             padding-top: 22%;
              text-align:center; 
              // right: 40%;
               
            
           }
       
       
             .padd1{
       
             // padding-top: 0%;
            
             color: #a7e321;
           }
           .up{
       
             //  padding-top: -10%;
              margin-top: -7%;
              right: 40%;
              position : absolute;
             //  top: 0;
             //  z-index: 100;
           }
       
           .up1{
       
             //  padding-top: -10%;
              margin-top: -7%;
             right: 25%;
               text-align:center; 
                position : absolute;
           
           }
       
       
               .down{
       
              padding-top: -50%;
             
              position : fixed;
           }
       
       
       
       
       
       
       
       
       
        
       
       @media (min-width: 320px) and (max-width: 600px) {
       
         .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 5px;
               width: calc(100% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 4px;
              
           }
       
       
       }
       
       
       
       
       
       @media (min-height: 320px) and (max-height: 600px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
         
          .row{
               padding-top: 0%;
                text-align: center;     
                 } 
         
         
       }
       
       
       @media  (max-height: 640px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (min-height: 360px) and (orientation : portrait) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (min-height: 320px) and (orientation : portrait) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (min-height: 480px) and (orientation : portrait) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (min-height: 540px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(105% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (min-height: 540px) and (min-width: 320px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(107% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       
       @media  (max-height: 779px) and (min-width: 203px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(115% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (max-height: 1050px) and (min-width: 203px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(100% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (max-height: 831px) and (min-width: 203px) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       
       
       @media  (max-height: 773px) and (min-width: 203px) {
       .row{
               // margin-top: -%;
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(100% - 0px);
               height: calc(90% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 10px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (max-height: 808px) and (min-width: 203px) {
       .row{
               // margin-top: -16%;
               // padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               height: calc(90% - 0px);
               // padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 10px;
               text-align: center; 
              
           }
         
         
       }
       
       
       
       
       
       
       
       @media  (min-height: 480px) and (max-height: 540px) and (orientation : portrait) {
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       @media  (max-height: 768px) and (max-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)  {
       
       .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }
       
       
       
       @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
         
         .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
       }
       
       @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
         
          .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
       }
       
       
       
       
       
       
       @media (min-width: 768px) and (max-width: 1024px) {
         
        .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
       }
       
       @media (min-height: 768px) and (max-height: 1024px) {
         
        .row{
               padding-top: 0%;
                text-align: center;     
                 }
       
           
           .card {
               margin: 0 0px;
               width: calc(110% - 0px);
               padding: 14px;
               box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
               border-radius: 8px;
               text-align: center; 
              
           }
         
         
       }


//      .pad{

//          text-align:center;

//     }

//       .pad1{

//            background-color: #ece7e7;

//          text-align:center;

//     }



// @media (min-width: 320px) and (max-width: 600px) {

//   .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 5px;
//         width: calc(100% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 4px;
       
//     }


// }





// @media (min-height: 320px) and (max-height: 600px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
//    .row{
//         padding-top: 0%;
//          text-align: center;     
//           } 
  
  
// }


// @media  (max-height: 640px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (min-height: 360px) and (orientation : portrait) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (min-height: 320px) and (orientation : portrait) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (min-height: 480px) and (orientation : portrait) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (min-height: 540px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(105% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (min-height: 540px) and (min-width: 320px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(107% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }


// @media  (max-height: 779px) and (min-width: 203px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(115% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (max-height: 1050px) and (min-width: 203px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(100% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (max-height: 831px) and (min-width: 203px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }



// @media  (max-height: 773px) and (min-width: 203px) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(115% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }





// @media  (min-height: 480px) and (max-height: 540px) and (orientation : portrait) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (max-height: 768px) and (max-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)  {

// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }



// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
//   .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
// }

// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
//    .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
// }






// @media (min-width: 768px) and (max-width: 1024px) {
  
//  .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
// }

// @media (min-height: 768px) and (max-height: 1024px) {
  
//  .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }






// // * {
// //     margin: 0;
// //     padding: 0;
// // }

// // body {
// //     font-family: 'Open Sans', arial, sans-serif;
// //     background: rgb(123, 158, 158);
// // }

// // #hexGrid {
// //     overflow: hidden;
// //     width: 90%;
// //     margin: 0 auto;
// //     padding:0.707% 0;
// //     padding-top: -0.221%; 
// //     padding-bottom: 30%;

// // }

// // #hexGrid:after {
// //     content: "";
// //     display: block;
// //     clear: both;
// // }

// // .hex {
// //     position: relative;
// //     list-style-type: none;
// //     float: left;
// //     overflow: hidden;
// //     visibility: hidden;
// //     // -webkit-transform: rotate(-60deg) skewY(30deg);
// //     //     -ms-transform: rotate(-60deg) skewY(30deg);
// //     //         transform: rotate(-60deg) skewY(30deg);
// // }

// // .hex * {
// //     position: absolute;
// //     visibility: visible;
// // }

// // .hexIn {
// //     display:block;
// //     width: 100%;
// //     height: 100%;
// //     text-align: center;
// //     color: #fff;
// //     overflow: hidden;
// //     // -webkit-transform: skewY(-30deg) rotate(60deg);
// //     //     -ms-transform: skewY(-30deg) rotate(60deg);
// //     //         transform: skewY(-30deg) rotate(60deg);
// //     -webkit-backface-visibility: hidden;
// //             backface-visibility: hidden;
// // }

// // .img{

// //      display:block;
// //     width: 100%;
// //     height: 100%;
// //     text-align: center;
// //     color: #fff;
// //     overflow: hidden;


// // }


// // /* HEX CONTENT */

// // .hex img {
// //     left: -100%;
// //     right: -100%;
// //     width: auto;
// //     height: 100%;
// //     margin: 0 auto;
// // }

// // .hex h1, .hex p {
// //     width: 90%;
// //     padding: 0 5%;
// //     background-color: #008080;
// //     background-color: rgba(0, 128, 128, 0.8);
// //     font-family: 'Raleway', sans-serif;
// //     -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
// //             transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
// // }

// // .hex h1 {
// //     bottom: 110%;
// //     font-style: italic;
// //     font-weight: normal;
// //     font-size: 1.5em;
// //     padding-top: 100%;
// //     padding-bottom: 100%;
// // }

// // .hex h1:after {
// //     content: '';
// //     display: block;
// //     position: absolute;
// //     bottom: -1px;
// //     left: 45%;
// //     width: 10%;
// //     text-align: center;
// //     z-index: 1;
// //     border-bottom: 2px solid #fff;
// // }

// // .hex p {
// //     padding-top: 50%;
// //     top: 110%;
// //     padding-bottom: 50%;
// // }


// // /* HOVER EFFECT  */

// // .hexIn:hover h1 {
// //     bottom: 50%;
// //     padding-bottom: 10%;
// // }

// // .hexIn:hover p {
// //     top: 50%;
// //     padding-top: 10%;
// // }

// // /* SPACING AND SIZING */

// // @media (min-width:1201px) {
// //     .hex {
// //         width: 19.2%; /* = (100-4) / 5 */
// //         padding-bottom: 22.170%; /* =  width / sin(60deg) */
// //     }
// //     .hex:nth-child(9n+6),
// //     .hex:nth-child(9n+7),
// //     .hex:nth-child(9n+8),
// //     .hex:nth-child(9n+9) {
// //         margin-top: -4.676%;
// //         margin-bottom: -4.676%;
// //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //             -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //                 transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //     }
// //     .hex:nth-child(9n+6):last-child,
// //     .hex:nth-child(9n+7):last-child,
// //     .hex:nth-child(9n+8):last-child,
// //     .hex:nth-child(9n+9):last-child {
// //         margin-bottom: 0;
// //     }
// //     .hex:nth-child(9n+6) {
// //         margin-left: 0.5%;
// //         clear: left;
// //     }
// //     .hex:nth-child(9n+10) {
// //         clear: left;
// //     }
// //     .hex:nth-child(9n+2),
// //     .hex:nth-child(9n+ 7) {
// //         margin-left: 1%;
// //         margin-right: 1%;
// //     }
// //     .hex:nth-child(9n+3),
// //     .hex:nth-child(9n+4),
// //     .hex:nth-child(9n+8) {
// //         margin-right: 1%;
// //     }
// // }

// // @media (max-width: 1200px) and (min-width:901px) {
// //     .hex {
// //         width: 24.25%; /* = (100-3) / 4 */
// //         padding-bottom: 28.001%; /* =  width / sin(60deg) */
// //     }
// //     .hex:nth-child(7n+5),
// //     .hex:nth-child(7n+6),
// //     .hex:nth-child(7n+7) {
// //         margin-top: -6.134%;
// //         margin-bottom: -6.134%;
// //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //             -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //                 transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //     }
// //     .hex:nth-child(7n+5):last-child,
// //     .hex:nth-child(7n+6):last-child,
// //     .hex:nth-child(7n+7):last-child {
// //         margin-bottom: 0;
// //     }
// //     .hex:nth-child(7n+2),
// //     .hex:nth-child(7n+6) {
// //         margin-left: 1%;
// //         margin-right: 1%;
// //     }
// //     .hex:nth-child(7n+3) {
// //         margin-right: 1%;
// //     }
// //     .hex:nth-child(7n+8) {
// //         clear: left;
// //     }
// //     .hex:nth-child(7n+5) {
// //         clear: left;
// //         margin-left: 0.5%;
// //     }
// // }

// // @media (max-width: 900px) and (min-width:601px) {
// //     .hex {
// //         width: 32.666%; /* = (100-2) / 3 */
// //         padding-bottom: 37.720%; /* =  width / sin(60) */
// //     }
// //     .hex:nth-child(5n+4),
// //     .hex:nth-child(5n+5) {
// //         margin-top: -8.564%;
// //         margin-bottom: -8.564%;
// //         -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //             -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //                 transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //     }
// //     .hex:nth-child(5n+4):last-child,
// //     .hex:nth-child(5n+5):last-child {
// //         margin-bottom: 0;
// //     }
// //     .hex:nth-child(5n+4) {
// //         margin-right: 1%;
// //         margin-left: 0.5%;
// //     }
// //     .hex:nth-child(5n+2) {
// //         margin-left: 1%;
// //         margin-right: 1%;
// //     }
// //     .hex:nth-child(5n+6) {
// //         clear: left;
// //     }
// // }

// // @media (max-width: 600px) {
// //     .hex {
// //         width: 49.5%; /* = (100-1) / 2 */
// //         padding-bottom: 57.158%; /* =  width / sin(60) */
// //     }
// //     .hex:nth-child(3n+3) {
// //         margin-top: -12.522%;
// //         margin-bottom: -13.423%;
        
         
// //         // -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //         //     -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //         //         transform: translateX(50%) rotate(-60deg) skewY(30deg);
// //     }
// //     .hex:nth-child(3n+3):last-child {
// //         margin-bottom: 0;
// //     }
// //     .hex:nth-child(3n+3) {
// //         margin-left: 25%;
// //     }
// //     .hex:nth-child(3n+2) {
// //         margin-left: 1%;
// //     }
    
// //     .hex:nth-child(3n+4) {
// //         clear: left;
// //     }
// // }

// // .pager{

// //      padding-bottom: 100%;


// // }


}
