<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-card-header class="pad">
      <img src="assets/icon/logo.png" height="60px" width="200px" />  <img src="assets/icon/refresh.png"  class="right" (tap)="refresh()"/>
    </ion-card-header>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="pad1"> <b style=" color: #789527;">Services</b> </ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-6>

          <img src="assets/icon/med_app.png" height="100px" width="100px" (tap)="personal()" />

          <figcaption><b style=" color: black;">Accepted Patients</b></figcaption>

        </ion-col>

        <ion-col col-6>

          <img src="assets/icon/per_doc.png" height="100px" width="100px"  (tap)="accept()" />
          <figcaption><b style=" color: black;">Personal Doctor Services</b></figcaption>

        </ion-col>


        <ion-col col-6>

          <img src="assets/icon/home.png" height="100px" width="100px" (tap)="refer()" />
          <figcaption><b style=" color: black;">Refer a patient to Ghinger</b></figcaption>

        </ion-col>
        <ion-col col-6>

          <img src="assets/icon/pay.png" height="100px" width="100px"  />
          <figcaption><b style=" color: black;">Bill and invoice information</b></figcaption>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>


</ion-content> -->




<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center;">Ghinger</ion-title>
    <!-- <ion-card-header class="pad"> -->
    <!-- <img src="assets/icon/logo.png" height="60px" width="200px" />  <img src="assets/icon/refresh.png"  class="right" (tap)="refresh()"/> -->
    <!-- </ion-card-header> -->
  </ion-navbar>
</ion-header>


<ion-content class="ash">
  <br>
  <div class="img-circular"></div>


  <p class="down"> </p>
  <br>
  <br>
  <p class="down1">
    <strong>Welcome, Dr. {{surname}} {{other_names}}</strong>
    <br>
  </p>


  <form class="padd">

    <!-- <ion-item class="item1"> Menu </ion-item> -->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <!--<ion-card>-->
            <img src="assets/icon/Clock icon.png" height="100px" width="100px" (tap)="appointments()" />

            <figcaption>
              <b style=" color: black;">Appointments
                <ion-badge color="danger1" item-end>{{doc_all_total_count_appoint_counter}}</ion-badge>
              </b>
            </figcaption>
            <!--</ion-card>-->
          </ion-col>

          <ion-col col-6>
            <!--<ion-card>-->
            <img src="assets/icon/pds.png" height="100px" width="100px" (tap)="pds()" />
            <figcaption>
              <b style=" color: black;">Personal Doctor Services</b>
            </figcaption>
            <!--</ion-card>-->
          </ion-col>

          <ion-col col-3></ion-col>

          <ion-col col-6>
            <!--<ion-card>-->
            <img src="assets/icon/home.png" height="100px" width="100px" (tap)="referpatient()" />
            <figcaption>
              <b style=" color: black;">Refer a Patient to Ghinger</b>
            </figcaption>
            <!--</ion-card>-->
          </ion-col>
          <!-- <ion-col col-6> -->
          <!--<ion-card>-->
          <!-- <img src="assets/icon/pay.png" height="100px" width="100px" (tap)="bills()" />
            <figcaption><b style=" color: black;">Bills & Invoice Information</b></figcaption> -->
          <!--</ion-card>-->
          <!-- </ion-col> -->

          <ion-col col-3></ion-col>


        </ion-row>

      </ion-grid>
    </ion-card-content>

  </form>

</ion-content>