<ion-header>

  <ion-navbar>
    <ion-title>PDS Phone Consults!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <h3 style="text-align: center;">PDS Phone Consults</h3>
  <ion-list *ngIf="doc_pds_phoneconsults?.length > 0; else med_appointmentsfalse">
    <ion-item *ngFor="let doc_pds_phoneconsults of doc_pds_phoneconsults">
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-2>
           <strong>1</strong>
          </ion-col> -->
          <ion-col col-8 text-wrap>
              <h2 text-wrap>{{doc_pds_phoneconsults.surname}} {{doc_pds_phoneconsults.other_names}}</h2>
              <strong><p text-wrap>{{doc_pds_phoneconsults.appointment_type}}</p></strong>
          </ion-col>
          <ion-col col-2>
            <button ion-button  class="small_button" color="green1" round type="submit" (click)="get_pds_phoneconsult_details(doc_pds_phoneconsults)">Details</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ng-template #med_appointmentsfalse>
    <ion-list>
      <ion-item>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
                <h2 style="text-align: center;">Sorry you do not have any appointment</h2>             
            </ion-col>
          </ion-row>
        </ion-grid>
          
      </ion-item>
    </ion-list>
      
  </ng-template>

</ion-content>
