<ion-content class="background">

  <form [formGroup]="signupForm" class="padd">

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Username</ion-label>
      <ion-input type="text" formControlName="username" name="username" [class.invalid]="!signupForm.controls.username.valid && (signupForm.controls.username.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Surname</ion-label>
      <ion-input type="text" formControlName="surname" name="surname" [class.invalid]="!signupForm.controls.surname.valid && (signupForm.controls.surname.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Other Name</ion-label>
      <ion-input type="text" formControlName="other_names" name="other_names" [class.invalid]="!signupForm.controls.other_names.valid && (signupForm.controls.other_names.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-phone-portrait" md="md-phone-portrait">&nbsp;</ion-icon>Mobile Number</ion-label>
      <ion-input type="number" formControlName="mobile_number" name="mobile_number" [class.invalid]="!signupForm.controls.mobile_number.valid && (signupForm.controls.mobile_number.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <br/>
    <ion-item>
      <ion-label>
        <ion-icon ios="ios-wifi" md="md-wifi"></ion-icon> Mobile Network</ion-label>
      <ion-select formControlName="telco" name="telco" [class.invalid]="!signupForm.controls.telco.valid && (signupForm.controls.telco.dirty || submitAttempt)">
        <ion-option formControlName="telco" name="telco" value="MTN" ngDefaultControl>MTN</ion-option>
        <ion-option formControlName="telco" name="telco" value="TIG" ngDefaultControl>TIG0</ion-option>
        <ion-option formControlName="telco" name="telco" value="VOD" ngDefaultControl>VODAFONE</ion-option>
        <ion-option formControlName="telco" name="telco" value="AIR" ngDefaultControl>AIRTEL</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-mail" md="md-mail">&nbsp;</ion-icon>Email</ion-label>
      <ion-input type="email" formControlName="email" name="email" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <!-- include location -->

    <!--<ion-item>
          <ion-textarea placeholder="Appointment Date" lineHeight="22" formControlName="proposed_date" name="proposed_date"
            [class.invalid]="!appointForm.controls.proposed_date.valid && (appointForm.controls.proposed_date.dirty || submitAttempt)"></ion-textarea>
          <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " min="2018" max="2019" formControlName="proposed_date"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>
    </ion-item>-->

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-calendar" md="md-calendar">&nbsp;</ion-icon>Date Of Birth</ion-label>
      <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " [max]="maxSelectabledate" formControlName="dob" [class.invalid]="!signupForm.controls.dob.valid && (signupForm.controls.dob.dirty || submitAttempt)"></ion-datetime>
      <!--<ion-input type="text" formControlName="dob" name="dob" [class.invalid]="!signupForm.controls.dob.valid && (signupForm.controls.dob.dirty || submitAttempt)"></ion-input>-->
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-icon ios="ios-person" md="md-person"></ion-icon> User Type</ion-label>
      <ion-select formControlName="user_type" name="user_type" [class.invalid]="!signupForm.controls.user_type.valid && (signupForm.controls.user_type.dirty || submitAttempt)">
        <ion-option formControlName="user_type" name="user_type" value="D" ngDefaultControl>Doctor</ion-option>
        <ion-option formControlName="user_type" name="user_type" value="N" ngDefaultControl>Nurse</ion-option>
        <ion-option formControlName="user_type" name="user_type" value="P" ngDefaultControl>Pharmacist</ion-option>
        <ion-option formControlName="user_type" name="user_type" value="L" ngDefaultControl>Laboratorist</ion-option>
        <ion-option formControlName="user_type" name="user_type" value="C" ngDefaultControl>Patient</ion-option>
      </ion-select>

    </ion-item>


    <ion-item *ngIf="signupForm.value.user_type == 'C'">
      <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Country</ion-label>

      <ion-select formControlName="country_id" name="country_id" [class.invalid]="!signupForm.controls.country_id.valid && (signupForm.controls.country_id.dirty || submitAttempt)" [(ngModel)]="country_id" (ionChange)="get_region(country_id);">
        <ion-option *ngFor="let data of countries" [value]="data.id" >{{data.country_name}}</ion-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="signupForm.value.country_id">
      <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Region/State</ion-label>
      
      <ion-select formControlName="region_id" name="region_id" [class.invalid]="!signupForm.controls.region_id.valid && (signupForm.controls.region_id.dirty || submitAttempt)" [(ngModel)]="region_id" (ionChange)="get_cities(region_id);">
        <ion-option *ngFor="let data of regions" [value]="data.id" >{{data.region_state_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="signupForm.value.region_id">
      <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select City</ion-label>

      <ion-select formControlName="city_id" name="city_id" [class.invalid]="!signupForm.controls.city_id.valid && (signupForm.controls.city_id.dirty || submitAttempt)" [(ngModel)]="city_id" (ionChange)="get_suburbs(city_id);">
        <ion-option *ngFor="let data of cities" [value]="data.id" >{{data.city_town_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="signupForm.value.city_id">
      <ion-label><ion-icon ios="ios-navigate" md="md-navigate"></ion-icon> Select Suburb</ion-label>
      <ion-select formControlName="suburb_id" name="suburb_id" [class.invalid]="!signupForm.controls.suburb_id.valid && (signupForm.controls.suburb_id.dirty || submitAttempt)">
        <ion-option *ngFor="let data of suburbs" [value]="data.id" >{{data.suburb_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="signupForm.value.user_type == 'D'">
      <ion-label>
        <ion-icon ios="ios-person" md="md-person"></ion-icon> Subscribe to Personal Doctor Service?</ion-label>
      <ion-select formControlName="pds" name="user_type" [class.invalid]="!signupForm.controls.pds.valid && (signupForm.controls.pds.dirty || submitAttempt)">
        <ion-option formControlName="pds" name="pds" value="t" ngDefaultControl>Yes</ion-option>
        <ion-option formControlName="pds" name="pds" value="f" ngDefaultControl>No</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-unlock">&nbsp;</ion-icon>Password</ion-label>
      <ion-input type="password" formControlName="password" name="password" [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-unlock">&nbsp;</ion-icon>Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)"></ion-input>

    </ion-item>
    <div class="alert alert-danger" [class.invalid]="!signupForm.controls.confirmPassword.errors?.MatchPassword">*Passwords must match</div>


    <p class="pad">
      <button ion-button color="green1" [disabled]="!this.signupForm.valid" (tap)="signup()"> Register </button>
      <!--<p class="pad"> <button ion-button color="ghinger" [disabled]="!this.signupForm.valid" (tap)="signup()">  NEXT  </button>-->
      <br/>
      <br/>
    </p>



    <p>
      <b style=" color: black;">
        <p style=" color: black;">Already have an account ?
          <a href="" (tap)="signin()" style=" color: black;">Sign In</a>

        </p>
      </b>
    </p>




  </form>

</ion-content>