page-resetcode {

    .pad{

        text-align:center;    

    } 

    .padd{

      padding-top: 85%;   
    }

.background{

    background-image: url("../assets/icon/backs.png"); 
   
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }


 ion-card.card {
        box-shadow: none;
        background:none;
        border-radius: 5px;
         padding-left: 10px;
    }

     ion-icon{

        color: #789527;


    }

    @media (min-width: 320px) and (max-width: 600px) {

  .row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 5px;
        width: calc(100% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 4px;
       
    }


}





@media (min-height: 320px) and (max-height: 600px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
   .row{
        padding-top: 0%;
         text-align: center;     
          } 
  
  
}


@media  (max-height: 640px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(110% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (min-height: 360px) and (orientation : portrait) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(110% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (min-height: 320px) and (orientation : portrait) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(110% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (min-height: 480px) and (orientation : portrait) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(110% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (min-height: 540px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(105% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (min-height: 540px) and (min-width: 320px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(107% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}


@media  (max-height: 779px) and (min-width: 203px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(115% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (max-height: 1050px) and (min-width: 203px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(100% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}

@media  (max-height: 831px) and (min-width: 203px) {
.row{
        padding-top: 0%;
         text-align: center;     
          }

    
    .card {
        margin: 0 0px;
        width: calc(110% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 8px;
        text-align: center; 
       
    }
  
  
}



// @media  (max-height: 773px) and (min-width: 203px) {
// .row{
//         margin-top: -4%;
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(100% - 0px);
//         height: calc(97% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 10px;
//         text-align: center; 
       
//     }
  
  
// }

@media  (max-height: 752px) and (min-width: 203px) {
 .padd{

      padding-top: 65%;   
    }
  
  
}

@media  (max-height: 600px)  {
.row{
      
        padding-top: 7%;
         text-align: center;      
          }

    
    .card {
        margin: 0 0px;
        width: calc(100% - 0px);
        height: calc(97% - 0px);
        padding: 14px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        border-radius: 6px;
        text-align: center; 
       
    }
  
  
}










// @media  (min-height: 480px) and (max-height: 540px) and (orientation : portrait) {
// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

// @media  (max-height: 768px) and (max-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)  {

// .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }



// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
//   .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
// }

// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
//    .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
// }






// @media (min-width: 768px) and (max-width: 1024px) {
  
//  .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
// }

// @media (min-height: 768px) and (max-height: 1024px) {
  
//  .row{
//         padding-top: 0%;
//          text-align: center;     
//           }

    
//     .card {
//         margin: 0 0px;
//         width: calc(110% - 0px);
//         padding: 14px;
//         box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
//         border-radius: 8px;
//         text-align: center; 
       
//     }
  
  
// }

}
