<ion-header>

  <ion-navbar>
    <ion-title>Forgot password ? </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <!-- <form class="padd">

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Enter your mobile number</ion-label>
      <ion-input type="text" name="username"></ion-input>
    </ion-item>


    <br/>

    <br/>


    <p class="pad">
      <button ion-button round color="green1" (tap)="reset()"> Get New password </button>
    </p>
    <p class="pad">
      <b style=" color: black;">
        <p style=" color: black;">Don't have an account ?
          <a href="" (tap)="signup()" style=" color: black;">Sign Up</a>

        </p>
      </b>
    </p>


  </form> -->



  <form [formGroup]="resetPasswordForm" class="padd">

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Enter Reset code sent via SMS</ion-label>
      <ion-input type="text" formControlName="resetcode" name="resetcode" [class.invalid]="!resetPasswordForm.controls.resetcode.valid && (resetPasswordForm.controls.resetcode.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <br/>


    <p class="pad">
      <button ion-button round color="green1" [disabled]="!this.resetPasswordForm.valid" (tap)="reset()"> Proceed  </button>
    </p>
    <br>
  </form>


</ion-content>