<ion-header>
  <ion-navbar>
    <button ion-button menuToggle (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-card-header class="pad">
      <img src="assets/icon/logo.png" height="60px" width="200px" />  <img src="assets/icon/refresh.png"  class="right" (tap)="refresh()"/>
    </ion-card-header> -->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card-content class="ash">
    <div class="img-circular"></div>


    <p class="down"> </p>
    <br>
    <br>
    <p class="down1">
      <br><strong>Welcome, {{surname}} {{other_names}}</strong>
      <br>
    </p>

  </ion-card-content>

  <br>


  <!-- <ion-item class="pad1">
    <b style=" color: #789527;">Services</b>
  </ion-item> -->
  <ion-card-content>
    <ion-grid>
      <br>
      <ion-row>
        <ion-col col-6>
          <!--<ion-card>-->

          <img src="assets/icon/med_app.png" height="100px" width="100px" (tap)="medical()" />

          <figcaption>
            <b style=" color: black;">Medical Appointment</b>
            <ion-badge color="danger1" item-end>{{medical_appointment_count>0 ? medical_appointment_count : null}}</ion-badge>
          </figcaption>
          <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/presc.png" height="100px" width="100px" (tap)="medication()" />
          <figcaption>
            <b style=" color: black;">Medication</b>
            <ion-badge color="danger1" item-end>{{medication_appointment_count>0 ? medication_appointment_count : null}}</ion-badge>
          </figcaption>
          <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/lab.png" height="100px" width="100px" (tap)="lab_history()" />
          <figcaption>
            <b style=" color: black;">Lab Request</b>
            <ion-badge color="danger1" item-end>{{labrequest_appointment_count>0 ? labrequest_appointment_count : null}}</ion-badge>
          </figcaption>
          
          <!--</ion-card>-->
        </ion-col>
        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/per_doc.png" height="100px" width="100px" (tap)="doc_history()" />
          <figcaption>
            <b style=" color: black;">Personal Doctor</b>
            <ion-badge color="danger1" item-end>{{total_patient_pds_appointment_count>0 ? total_patient_pds_appointment_count : null}}</ion-badge>
          </figcaption>
          <!-- <ion-badge color="secondary" item-end>260k</ion-badge> -->
          <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/vid.png" height="100px" width="100px" (tap)="video('VC')" />
          <figcaption>
            <b style=" color: black;">Video Consultation</b>
            <ion-badge color="danger1" item-end>{{videoconsult_appointment_count>0 ? videoconsult_appointment_count : null}}</ion-badge>
          </figcaption>
          <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/home.png" height="100px" width="100px" (tap)="home('HC')" />
          <figcaption>
            <b style=" color: black;">Home Care</b>
            <ion-badge color="danger1" item-end>{{homecare_appointment_count>0 ? homecare_appointment_count : null}}</ion-badge>
          </figcaption>
          <!--</ion-card>-->
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>


</ion-content>